/* Common font family  and shared style*/
body {
  font-family: "Open Sans", sans-serif;
}
.primary-color {
  color: #fd6e0a;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: #181818;
}
.section-description {
  font-size: 18px;
  text-align: center;
  color: #757575;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
.nav-title {
  font-weight: bolder;
  font-size: 45px;
  color: #1e1e1e;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav ul li {
  margin-right: 50px;
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: #474747;
}

.btn-primary {
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
  padding: 15px 35px;
}

/* ------------------------------- */
/* header releted style */
.header {
  background-color: #fff8f3;
  background-image: url(/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 50px 0px 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-fic {
  width: 500px;
}

/* ------------------------------------ */
/* banner content */
.banner-content {
  max-width: 580px;
}
.banner-greeting {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin: 0px;
}
.banner-title {
  font-size: 80px;
  font-weight: 700;
  margin: 30px 0;
}
.banner-text {
  font-size: 18px;
  color: #474747;
  margin-bottom: 25px;
}
.banner-btn {
  justify-content: space-evenly;
}

/* Main section style */
main {
  max-width: 1140px;
  margin: 0px auto;
}
/* About section style */
.about {
  padding: 130px;
  background-color: #fff8f3;
  margin: 130px 0;
}
.about-info-container {
  display: flex;
  justify-content: space-between;
}
.about-info {
  text-align: center;
}
/* what-i-do-section */
.what-i-do-section {
  max-width: 900px;
  margin: auto;
}
.skills-container {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin-top: 50px;
  gap: 20px;
}
.skill {
  padding: 25px;
  background: #fff;
  box-shadow: 0px 6px 60px 0px rgb(0, 0, 0, 0.06);
}
.skill-title {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0px;
}
.skill-description {
  font-size: 16px;
  color: #757575;
}
/* my-resumy-section style */
.my-resumy-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.my-resumy-column-title h4 {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}
.resume-item-title {
  margin: 0px;
  font-size: 25px;
  font-weight: bold;
}

.resume-item-institute {
  font-size: 20px;
  font-weight: 600px;
  color: #474747;
  margin: 10px 0 20px 0;
}
.resume-item-description {
  color: #474747;
  font-size: 16px;
}
.my-resumy-content hr {
  margin-bottom: 20px;
}
.download-container {
  text-align: center;
}
